<div class="main_cat">
    <div class="main_cat__in center_block">
        <div class="main_cat__text">
            <div class="main_cat__text--l-side">Описание</div>
            <div class="main_cat__text--r-side">
                <p>Лакокрасочные материалы Акраком - высокое качество и яркие цвета! </p>
                <p>У нас вы найдете широкий выбор лакокрасочных материалов для всех видов поверхностей. Независимо от того, нужна ли вам краска для стен, потолка, фасадов зданий,промышленных объектов или металлических конструкций. Акраком предлагает надежные продукты, которые подарят вашим проектам идеальный вид.</p>
                <p>Наши материалы отличаются прочностью и долговечностью, обеспечивая долговременную защиту от внешних воздействий. Благодаря передовым технологиям, наша краска не выгорает под воздействием солнца и не образует трещин, сохраняя первоначальный вид на протяжении длительного времени.</p>
                <p>Легко наносится и быстро сохнет, что позволяет вам экономить время и получать профессиональные результаты даже без специальных навыков. Все продукты Акраком имеют высокую покрываемость, что позволяет сэкономить на расходе краски и получить ровное и насыщенное покрытие уже при первом слое.</p>
                <p>Не упустите возможность преобразить ваш дом, офис или любой другой строительный оъект с помощью качественных лакокрасочных материалов Акраком. Закажите сейчас и получите гарантированное качество по выгодной цене.</p>
                <b>Лакокрасочные материалы Акраком - выбор профессионалов и идеальное решение для вашего проекта!</b>
            </div>
        </div>
        <div class="main_cat__items prods_lak">
            <div class="main_cat__prod--item">
                <div class="main_cat__prod--title">Наша продукция</div>
                <div class="main_cat__prod--text">Предлагаем приобрести  архитектурные <br>формы из каталога или на заказ <br>по эксклюзивному проекту</div>
            </div>
            <div class="main_cat__prod--item">
                <div class="main_cat__prod--btn">Фасадная</div>
                <div class="main_cat__prod--bg">
                    <img v-if="sizes.window >= 1023" src="./img/i1.png" alt="">
                    <img v-if="sizes.window <= 1023" src="./img/i1_mob.png" alt="">
                </div>
                <nav class="main_cat__prod--menu">
                    <ul>
                        <li>
                            <a href="#">Грунтовки</a>
                            <ul>
                                <li><a href="#">Краска интерьерная для внутренних работ</a></li>
                                <li><a href="#">Краска интерьерная повышенной белизны для внутренних работ</a></li>
                                <li><a href="#">Краска стойкая к мытью, Эмаль полуглянцевая водно-дисперсионная</a></li>
                                <li><a href="#">Эмаль полуглянцевая водно-дисперсионная</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <a href="#" class="main_cat__prod--item">
                <div class="main_cat__prod--btn">Грунтовки</div>
                <div class="main_cat__prod--bg">
                    <img v-if="sizes.window >= 1023" src="./img/i2.png" alt="">
                    <img v-if="sizes.window <= 1023" src="./img/i2_mob.png" alt="">
                </div>
            </a>
            <a href="#" class="main_cat__prod--item">
                <div class="main_cat__prod--btn">Грунтовки</div>
                <div class="main_cat__prod--bg">
                    <img v-if="sizes.window >= 1023" src="./img/i3.png" alt="">
                    <img v-if="sizes.window <= 1023" src="./img/i3_mob.png" alt="">
                </div>
            </a>
        </div>
        <br><br>
        <br>
        <div class="main_cat__items">
            <a href="#" class="main_cat__prod--item">
                <div class="main_cat__prod--btn">Шпильки химического анкера</div>
                <div class="main_cat__prod--bg">
                    <img v-if="sizes.window >= 1023" src="./img/i1.png" alt="">
                    <img v-if="sizes.window <= 1023" src="./img/i1_mob.png" alt="">
                </div>
            </a>
            <a href="#" class="main_cat__prod--item">
                <div class="main_cat__prod--btn">Капсульные химические анкера</div>
                <div class="main_cat__prod--bg">
                    <img v-if="sizes.window >= 1023" src="./img/i1.png" alt="">
                    <img v-if="sizes.window <= 1023" src="./img/i1_mob.png" alt="">
                </div>
            </a>
            <a href="#" class="main_cat__prod--item">
                <div class="main_cat__prod--btn">В картридже</div>
                <div class="main_cat__prod--bg">
                    <img v-if="sizes.window >= 1023" src="./img/i1.png" alt="">
                    <img v-if="sizes.window <= 1023" src="./img/i1_mob.png" alt="">
                </div>
            </a>
            <a href="#" class="main_cat__prod--item">
                <div class="main_cat__prod--btn">Химический анкер в таре</div>
                <div class="main_cat__prod--bg">
                    <img v-if="sizes.window >= 1023" src="./img/i1.png" alt="">
                    <img v-if="sizes.window <= 1023" src="./img/i1_mob.png" alt="">
                </div>
            </a>
            <a href="#" class="main_cat__prod--item">
                <div class="main_cat__prod--btn">Прочее</div>
                <div class="main_cat__prod--bg">
                    <img v-if="sizes.window >= 1023" src="./img/i1.png" alt="">
                    <img v-if="sizes.window <= 1023" src="./img/i1_mob.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>