<div class="main_prod">
    <div class="main_prod__in center_block">
        <div class="main_prod__text">
            <div class="main_prod__text--l-side">
                <div v-if="sizes.window <= 1023" class="main_prod__text--title">Описание</div>
                <div v-if="sizes.window >= 1023" class="main_prod__text--img">
                    <img src="./img/prod_img.png" alt="">
                </div>
            </div>
            <div class="main_prod__text--r-side">
                <div v-if="sizes.window <= 1023" class="main_prod__text--img">
                    <img src="./img/prod_img.png" alt="">
                </div>
                <div class="main_prod__text--item">
                    <span>Материал:</span>
                    2-компонентный состав на основе эпоксидной смолы
                </div>
                <div class="main_prod__text--item">
                    <span>Области применения:</span>
                    Крепление барьерного ограждения мостовой группы, шумозащитный и грязезащитных экранов, перильного ограждения, мачт освещения, инженерных систем, металлоконструкций к бетонному основанию
                </div>
                <div class="main_prod__text--item">
                    <span>Описание и особенности:</span>
                    Капсульный химический анкер. Высокоэффективный двухкомпонентный безусадочный химический состав для анкерных креплений. Имеет высокую адгезию с материалом основания. Устойчив к воздействиям высоких температур  (до + 120°С). Высоко устойчив к агрессивным средам (кислотам и щелочам), морской воде, нефтепродуктам и сточным водам нефтепереработки. Испытан на ударные и динамические нагрузки в составе крепления барьерного ограждения
                </div>
                <div class="main_prod__text--item">
                    <span>Материал:</span>
                    Бетон
                </div>
                <div class="main_prod__text--item">
                    <span>Производитель</span>
                    Россия
                </div>
                <div class="main_prod__text--item">
                    <span>Допуски и сертификаты:</span>
                    <ul>
                        <li>Сертификат соответствия на ГОСТ Р 58387-2019</li>
                        <li>Сводное заключение ООО НИЦ “Мосты” о возможности применения химический анкерных креплений ООО “Акраком” для крепления барьерного ограждения мостовой группы</li>
                        <li>Отчет НИЦИАМТ ФГУП “НАМИ” стендовых ударных испытаний крепления стоек барьерного ограждения мостовой группы</li>
                        <li>Заключение ООО НИЦ “Мосты” по результатам стендовых статических испытаний крепления стоек барьерного ограждения мостовой группы</li>
                        <li>Заключение ООО НИЦ “Мосты” на вырыв химических анкеров ООО ”Акраком”</li>
                    </ul>
                    <div class="main_prod__text--ser" id="lightgallery_ser">
                        <div>
                            <img src="./img/ser1.png" alt="">
                        </div>
                        <div>
                            <img src="./img/ser2.png" alt="">
                        </div>
                        <div>
                            <img src="./img/ser3.png" alt="">
                        </div>
                        <div>
                            <img src="./img/ser4.png" alt="">
                        </div>
                        <div>
                            <img src="./img/ser5.png" alt="">
                        </div>
                        <div>
                            <img src="./img/ser7.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>