.main_first {
    &--second {
        border-radius: vw(32);
        background: #FBFBFB;
        padding-top: vw(32);
        padding-bottom: vw(32);
        .main_first__img {
            top: vw(-50);
            right: vw(140);
            justify-content: flex-end;
            width: vw(567);
        }
    }
}